.container {
  justify-content: center;
}

.postsContainer {
  display: grid;
  grid-gap: 20px;
}

.post {
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 10px;
}

.post h2 {
  margin-bottom: 5px;
}

.post p {
  margin-bottom: 10px;
}
