<section class="prompt">
    <h1>Sign up</h1>
    <form action="/auth/signup" method="post">
        <div>
            <label for="email">Email</label>
            <input id="email" name="email" type="text" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required />
        </div>
        <button type="submit">Sign up</button>
    </form>
    <p>이미 아이디가 있다면<a href="/login">Sign in</a></p>
</section>
