/* 전체적인 세팅부터 */
* {
    box-sizing: border-box;
    margin: 0;
}

html{
    height: 100%;
}

body{
    height: 100%
}

.container{
    height: 100%;
    background-color: #b99837;

}
/* 스크린 크기 조정 */
.chat-screen{
    /* calc [중요] : css 수치끼리 계산해서 그 결과를 속성값으로 사용한다. 100%값에서 120px를 제외한 값 */
    height: calc(100% - 120px);
    background-color: #7a7461;
    border-radius: 10px 10px 0px 0px;
    
}

/* 유저 정보 표시되는 부분 */
.user{
    background-color: #FFFFFF;
    padding: 16px;
    height: 80px;
}

.user__column{
    float: left;
}

.user__pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(164, 219, 81);
}
.user__nick, user__count{
    margin: 5px;
}

.user__count{
    font-size: 12px;
    color: gray;
}

/* 채팅 입력 창 */
.chat-form{
    height: 120px;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFFFFF;
}

.chat-form__field{
    height: 120px;
}

.chat_form__msg{
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    resize: none;
    font-size: 24px;
    padding: 10px;
    /* 윤곽선 아웃라인 제거 */
    outline: none;
    
}


.chat_form__bt{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #FCC41F;
    float: right;
    font-size: 18px;
}
.chat_form__bt:hover {
    background-color: rgb(188, 199, 209);
}

.chat_form__msg:focus{
    outline: none;
    border-radius: 10px 10px 10px 10px;
}


.chat_form__msg:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(226, 235, 243);

}


.chat_form__bt:active{
    color: white;
    background-color: #C89D12;
}