.todo-app-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: var(--border-radius);
    background: var(--bg-color-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 스크롤 가능하게 설정 */
    height: calc(100vh - 60px); /* 전체 높이에서 상단 버튼 컨테이너 높이만큼 뺌 */
    margin-top: 60px; /* 버튼 컨테이너에 의해 가려지지 않도록 상단 여백 추가 */
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
