body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f0f2f5;
    color: #444;
  }
  #input_container {
    display: flex;
  }
  #tweetInput {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #1da1f2;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 16px;
  }
  
  #postTweet {
    padding: 10px 20px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
    width: 120px;
    margin-left: 12px;
  }
  
  #postTweet:hover {
    background-color: #1482c6;
  }
  
  #tweets_container {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .tweet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e1e8ed;
  }
  
  .tweet:last-child {
    border-bottom: none;
  }
  
  .tweet-text {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .like-button {
    cursor: pointer;
    background: none;
    border: none;
    color: #657786;
    font-size: 20px;
  }
  
  .like-button:hover {
    color: #1da1f2;
  }
  
  .like-counter {
    font-size: 16px;
    color: #657786;
    margin-left: 5px;
  }
  