* {
  box-sizing: border-box;
}

#stop {
  border: none;
  font-size: 25px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(60, 184, 118);
  color: white;
  margin-top: 15px;
  cursor: pointer;
}

#stop:hover{
  background-color: forestgreen;
}

#now_time {
  font-size: 30px;
}

#sharp {
  font-size: 20px;
}
