body {
    margin: 0;
    padding: 0;
    background-color: #fce5cd;
    
}
.container {
    display: flex;  /* flexbox 레이아웃 시작 */
    overflow: hidden;   /* 컨테이너를 벗어나는 내용 숨김 */
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);    /* 컨테이너 그림자 효과를 추가 */
    border-radius: 20px;
    margin: 20px;
}
.sidebar {
    width: 200px;
    background-color: #e5f2e8;
    color: #333;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.main-content {
    flex: 1;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1{
    margin-bottom: 40px;

}
p {
    margin-bottom: 20px;
    color: #333;
}
a {
    color: #7b6e49;
    text-decoration: none;
}
a:hover {
    color: #21a689;
}
.fun-icon {
    font-size: 2em;
    margin-right: 10px;
}