#userData {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .user {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
  }
  
  .user p {
    margin: 5px 0;
  }
  
  .user p strong {
    color: #333;
  }
  
  .user:hover{
    background-color: rgb(140, 175, 140);
    transition: 0.25s;
  }