.notice{
    max-width: 48rem;
    margin: auto;
}

.notice__title{
    font-size: 1.625rem;
    margin: 3.75rem 0 2.5rem;
    line-height: 1.5;
}

.notice__container{
    justify-content: space-between;
    /* flex-wrap : 한줄이라는 특성을, 두줄이상으로 일차원 레이아웃을 표현할 수 있다. 플렉스 아이템이 여러줄로도 배치될 수 있게 한다.*/
    flex-wrap: wrap;
}

.notice__item{
    padding: 1.25rem 0;
    /* flex-basis: 플렉스 아이템에 크기에 초기값을 지정하는 속성, 컨테이너 크기를 지정. */
    flex-basis: 48%;
}

.notice__thumb{
    min-width: 6.75rem;
    min-height: 6.75rem;
    background-color: #1e425e56;
}

.notice__content{
    margin-left: 1rem;
}

.notice__content__title{
    line-height: 1.1;
    font-size: 1rem;
    color: #aeaeae;
}

.notice__content__pay{
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .notice{
        padding: 0 1rem 1.25rem;
    }
}