/* CSS를 자유롭게 작성하세요. */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .input_container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .input_container label {
    min-width: 80px;
    font-size: 0.8rem;
  }
  
  input[type='text'],
  input[type='password'],
  input[type='email'],
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 12px;
  }
  
  input[type='radio'],
  input[type='checkbox'] {
    margin-right: 5px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #298d55;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #437145;
  }
  
  /* 스타일링 향상을 위한 추가 CSS */
  .input_container span {
    color: #555;
  }
  