*{
    text-align: center;
    .nanum-gothic coding-regular {
        font-family: "Nanum Gothic Coding", monospace;
        font-weight: 400;
        font-style: normal;
    }
}

html{
    background-color: #eeecec;
    font-size: 16px;
}

body{
    width: 640px;
    margin: auto; 
    /* 너비에서 남는 여백을 동일하게 분배 */
}

h1{
    font-size: 48px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

p{
    font-size: 1.5rem;
    /* html 기본사이즈인 16px보다 1.5배를 하겠다. = 24px가 되는것을 확인할 수 있다. */
}